#SUBSYSTEM=="tty", ATTRS{idVendor}=="cafe", ATTRS{idProduct}=="0200", ATTRS{serial}=="E6614103E79D7937", SYMLINK+="Fire-Alice"
SUBSYSTEM=="tty", ATTRS{idVendor}=="cafe", ATTRS{idProduct}=="0200", SYMLINK+="unicorn"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="1098", SYMLINK+="plasmabuttons"
